<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý Sinh Viên</title>
    <base href="/">
    <link href="index.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="container-title">  Đăng ký tài khoản </div>
    <div class="container-email">
        <div class="container-email-name">Email</div>
        <input type="text" class="container-email-register" value="" placeholder="Nhập vào email">
    </div>

    <div class="container-password">
        <div class="container-password-name">Password</div>
        <input type="password" class="container-password-register" placeholder="Nhập vào password">
    </div>

    <button type="button" class="container-btn-register">Đăng Ký</button>
    <a class="container-link-login" href="">Đã có tài khoản? Đăng nhập</a>
</div>
</body>
</html>